{% extends "base.html" %}

{% block extra_css %}{% endblock %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <container class="container-fluid">
        <div class="col-2 mr-4">
          <a class="navbar-brand d-flex justify-content-start" href=https://www.hannahandkevin.net/>H&K Away</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </container>
    </nav>

    <!-- Page Header -->
    <header class="masthead header-image">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Unsubscribe</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h3>Sorry to see you go!</h3>
            To unsubscribe, these fields must match your registration details exactly.
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-primary p-2 my-2 my-sm-0" type="submit">Submit</button>
            </form>
            <br>
            <br>
          </div>
		</div>
      </div>
    </article>

{% endblock %}
