/* Masonry grid on homepage */

.grid {
  background: transparent;
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 25%;
}
.grid-item {
  float: left;
  padding: .25em .25em .25em;
}
.grid-item img {
  display: block;
  max-height: 600px;
  max-width: 100vw;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 500px) {
    .grid-sizer,
    .grid-item {
        width: 100%;
    }
}
@media only screen and (min-width: 501px) and (max-width: 1000px) {
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}
@media only screen and (min-width: 1001px) and (max-width: 1500px) {
    .grid-sizer,
    .grid-item {
        width: 33%;
    }
}
@media only screen and (min-width: 1501px) {
    .grid-sizer,
    .grid-item {
        width: 25%;
    }
}

/* Flickity block */

.carousel {
  background: white;
}

.carousel-cell {
  margin-right: 40px;
  overflow: hidden;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 10px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid gray;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: black;
}

.carousel-cell {

  height: 500px;
  width: 100%;
  display: block;

  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-cell img {
  max-height: 500px;
  height: 100%;
  width: auto;
}

.carousel.is-fullscreen .carousel-cell {
  width: 100%;
  height: 100%;

}

.carousel.is-fullscreen .carousel-cell img {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: auto;
}

@media screen and (max-width: 500px) {
  .carousel-cell {
    height: 250px;
  }
  .carousel-cell img {
    height: 250px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
  .carousel-cell {
    height: 300px;
  }
  .carousel-cell img {
    height: 300px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
  .carousel-cell {
    height: 400px;
  }
  .carousel-cell img {
    height: 400px;
  }
}

@media screen and ( min-width: 1201px ) {
  .carousel-cell {
    height: 500px;
  }
  .carousel-cell img {
    height: 500px;
  }
}

.header-image {
    height: 66vh;
}

.square-corners {
    border-radius: 0;
}