{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-bloginstapage{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}

    <!-- Main Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {% if page.insta_flag is True %}
              <div>
                {% image page.insta_image max-1080x1080 %}
                <br><br>
                {{ page.insta_comment }}
              </div>
            {% endif %}
          </div>
		</div>
      </div>
    </article>

{% endblock %}
