{% extends "base.html" %}

{% block body_class %}template-bloginstapage{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-xl navbar-light fixed-top" id="mainNav">
      <container class="container-fluid">
        <div class="col-2 mr-4">
          <a class="navbar-brand d-flex justify-content-start" href=https://www.hannahandkevin.net/>H&K Away</a>
        </div>
      </container>
    </nav>

    <!-- Page Header -->
    <header class="masthead header-image">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Error</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h3>Oops, something went wrong.</h3>
          </div>
		</div>
      </div>
    </article>

{% endblock %}
