{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags block_tags %}

{% block body_class %}template-blogsearchpage{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-xl navbar-light fixed-top" id="mainNav">
      <container class="container-fluid">
        <div class="col-2 mr-4">
          <a class="navbar-brand d-flex justify-content-start" href={% pageurl homepage %}>H&K Away</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse col-10" id="navbarResponsive">
          <div class="col-8 d-flex justify-content-start">
            <ul class="navbar-nav mr-1 ml-1">
              {% for page in menupages %}
                <li class="nav-item">
                  <a class="nav-link" href={% pageurl page %}>{{ page }}</a>
                </li>
              {% endfor %}
                <li class="nav-item">
                  <a class="nav-link" href=https://www.hannahandkevin.net/subscribe/>Subscribe</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=https://www.hannahandkevin.net/contact/>Contact</a>
                </li>
            </ul>
          </div>
          <div class="col-lg-4 d-flex justify-content-lg-end">
            <form class="form-inline my-2 my-lg-0" action="{% slugurl "search" %}" method="get">
              <input class="form-control mr-sm-2 w-50 square-corners" type="search" aria-label="Search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
              <button class="btn btn-primary p-2 my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
      </container>
    </nav>

    <!-- Page Header -->
	{% image page.banner_image fill-1600x640 as banner_image %}
    <header class="masthead header-image" style="background-image: url('{{ banner_image.url|cdn_url }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{ page.title }}</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          {% if search_results %}

            <div class="post-preview">
              {% for result in search_results %}
                {% with result=result.specific %}
                  <a href="{% pageurl result %}">
                    <h2 class="post-title">{{ result }}</h2>
                    {% if result.intro is not None %}<h3 class="post-subtitle">{{ result.intro }}</h3>{% endif %}
                  </a>
                  <p class="post-meta">Posted by {{ result.owner }} on {{ result.post_date }}</p>
                  <hr>
                {% endwith %}
              {% endfor %}
            </div>

            <!-- Pager -->
            <div class="clearfix">
              {% if search_results.has_previous %}
                <a href="{% pageurl page %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}" class="btn btn-primary float-left">Previous</a>
              {% endif %}
              {% if search_results.has_next %}
                <a href="{% pageurl page %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}" class="btn btn-primary float-right">Next</a>
              {% endif %}
            </div>

          {% elif search_query %}
            No results found

          {% endif %}

        </div>
      </div>
    </div>

    <hr>

{% endblock %}
