{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags block_tags %}

{% block body_class %}template-blogsearchpage{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <container class="container-fluid">
        <div class="col-2 ">
          <a class="navbar-brand d-flex justify-content-start" href={% pageurl homepage %}>Lil Kev Big World</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse col-10" id="navbarResponsive">
          <div class="col-8 d-flex justify-content-start">
            <ul class="navbar-nav mr-auto ml-2">
              {% for page in menupages %}
                <li class="nav-item">
                  <a class="nav-link" href={% pageurl page %}>{{ page }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-4 d-flex justify-content-lg-end">
            <form class="form-inline my-2 my-lg-0" action="{% slugurl "search" %}" method="get">
              <input class="form-control mr-sm-2" type="search" aria-label="Search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
              <button class="btn btn-primary p-2 my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </container>
    </nav>

    <!-- Page Header -->
	{% image page.banner_image fill-1600x800 as banner_image %}
    <header class="masthead" style="background-image: url('{{ banner_image.url|cdn_url }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{ page.title }}</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          {% if search_results %}

            <div class="post-preview">
              {% for result in search_results %}
                  <a href="{% pageurl result %}{% if search_page and search_query %}?search_page={{ search_page }}&search_query={{ search_query }}{% endif %}">
                    <h3>{{ result }}</h3>
                  </a>
                  <p class="post-meta">
                    {% if result.search_description %}
                      {{ result.search_description }}
                    {% else %}
                      <br>
                    {% endif %}
                  </p>
              {% endfor %}
            </div>

            <div class="clearfix">
              {% if search_results.has_previous %}
                <a href="{% pageurl page %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}" class="btn btn-primary float-left">Previous</a>
              {% endif %}

              {% if search_results.has_next %}
                <a href="{% pageurl page %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}" class="btn btn-primary float-right">Next</a>
              {% endif %}
            </div>

          {% elif search_query %}
            No results found

          {% endif %}

        </div>
      </div>
    </div>

    <hr>

{% endblock %}
