{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags block_tags %}

{% block body_class %}template-blogsectionpage{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <container class="container-fluid">
        <div class="col-2 mr-4">
          <a class="navbar-brand d-flex justify-content-start" href={% pageurl homepage %}>Lil Kev Big World</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse col-10" id="navbarResponsive">
          <div class="col-8 d-flex justify-content-start">
            <ul class="navbar-nav mr-1 ml-1">
              {% for page in menupages %}
                <li class="nav-item">
                  <a class="nav-link" href={% pageurl page %}>{{ page }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-4 d-flex justify-content-lg-end">
            <form class="form-inline my-2 my-lg-0" action="{% slugurl "search" %}" method="get">
              <input class="form-control mr-sm-2 w-50" type="search" aria-label="Search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
              <button class="btn btn-primary p-2 my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </container>
    </nav>

    <!-- Page Header -->
	{% image page.banner_image fill-1600x800 as banner_image %}
    <header class="masthead" style="background-image: url('{{ banner_image.url|cdn_url }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{ page.title }}</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

		  {% for post in blogpages %}
		    {% with post=post.specific %}
			  <div class="post-preview">
			    <a href="{% pageurl post %}{% if sect_page %}?sect_page={{ sect_page }}{% endif %}">
				  <h2 class="post-title">{{ post.title }}</h2>
				  {% if page.hide_intro is not True %}<h3 class="post-subtitle">{{ post.intro }}</h3>{% endif %}
				</a>
				{% if page.hide_date is not True %}<p class="post-meta">Posted by {{ post.owner }} on {{ post.post_date }}</p>{% endif %}
			  </div>
			  <hr>
            {% endwith %}
		  {% endfor %}

          <!-- Pager -->
          <div class="clearfix">

            {% if blogpages.has_previous %}
                <a href="?page={{ blogpages.previous_page_number }}" class="btn btn-primary float-left">Newer Posts</a>
            {% endif %}
            {% if blogpages.has_next %}
                <a href="?page={{ blogpages.next_page_number }}" class="btn btn-primary float-right">Older Posts</a>
              {% endif %}

          </div>
        </div>
      </div>
    </div>

    <hr>

{% endblock %}
