{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags block_tags %}

{% block body_class %}template-bloghomepage{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <container class="container-fluid">
        <div class="col-2 mr-4">
          <a class="navbar-brand d-flex justify-content-start" href={% pageurl homepage %}>H&K Away</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse col-10" id="navbarResponsive">
          <div class="col-9 d-flex justify-content-start">
            <ul class="navbar-nav mr-1 ml-1">
              {% for page in menupages %}
                <li class="nav-item">
                  <a class="nav-link" href={% pageurl page %}>{{ page }}</a>
                </li>
              {% endfor %}
                <li class="nav-item">
                  <a class="nav-link" href=https://www.hannahandkevin.net/subscribe/>Subscribe</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=https://www.hannahandkevin.net/contact/>Contact</a>
                </li>
            </ul>
          </div>
          <div class="col-lg-3 d-flex justify-content-lg-end">
            <form class="form-inline my-2 my-lg-0" action="{% slugurl "search" %}" method="get">
              <input class="form-control mr-sm-2 w-50 square-corners" type="search" aria-label="Search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
              <button class="btn btn-primary p-2 my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
      </container>
    </nav>

    <!-- Page Header -->
	{% image page.banner_image fill-1600x640 as banner_image %}
    <header class="masthead header-image" style="background-image: url('{{ banner_image.url|cdn_url }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-14 mx-auto">
            <div class="site-heading">
              <h1>{{ page.title }}</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
		    {% for block in page.body %}
              <section>{% include_block block %}</section>
              <br>
		    {% endfor %}
          </div>
        </div>
      </div>
    </article>

    <div class="grid-holder col-12 mx-auto">
      <div class="grid">
        <div class="grid-sizer"></div>
        {% for post in blogpages %}
          {% with post=post.specific %}
            {% image post.banner_image fill-500x375 as pic %}
            {% if pic %}
              <div class="grid-item">
                <a href="{{ post.url }}">
                  <img
                     src="{{ pic.url|cdn_url }}"
                     width="{{ pic.width }}"
                     height="{{ pic.height }}"
                     alt="{{ pic.alt }}"
                     id="myImg{{ id_prefix }}"
                  />
                </a>
              </div>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
      {% if blogpages.has_next %}
        <a class="pagination_next" href="?page={{ blogpages.next_page_number }}"></a>
      {% endif %}
    </div>

{% endblock %}
