{% load wagtailcore_tags wagtailimages_tags block_tags %}

{% id_prefix as id_prefix %}

<style>

/* Style the Image Used to Trigger the Modal */
#myImg{{ id_prefix }} {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg{{ id_prefix }}:hover {opacity: 0.7;}

/* The Modal (background) */
.modal{{ id_prefix }} {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content{{ id_prefix }} {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1600px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption{{ id_prefix }} {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content{{ id_prefix }}, #caption{{ id_prefix }} {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close{{ id_prefix }} {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close{{ id_prefix }}:hover,
.close{{ id_prefix }}:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content{{ id_prefix }} {
        width: 100%;
    }
}
W
</style>

<!-- Trigger the Modal -->
{% image value.picture max-1000x1000 as pic %}
<img src="{{ pic.url }}"
     width="{{ pic.width }}"
     height="{{ pic.height }}"
     alt="{{ pic.alt }}"
     id="myImg{{ id_prefix }}"
     style="width:100%" />

<!-- The Modal -->
<div id="myModal{{ id_prefix }}" class="modal{{ id_prefix }}">

  <!-- The Close Button -->
  <span class="close{{ id_prefix }}">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content{{ id_prefix }}" id="img01{{ id_prefix }}">

  <!-- Modal Caption (Image Text) -->
  <div id="caption{{ id_prefix }}"></div>

</div>

<script>

// Get the modal
var modal = document.getElementById('myModal{{ id_prefix }}');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg{{ id_prefix }}');
var modalImg = document.getElementById("img01{{ id_prefix }}");
var captionText = document.getElementById("caption{{ id_prefix }}");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close{{ id_prefix }}")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// Close modal when clicked anywhere outside image (bottom  not working)
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>
