{% load wagtailcore_tags block_tags %}

{% id_prefix as id_prefix %}

<div id="map{{ id_prefix }}" class="embed-responsive embed-responsive-4by3"></div>

<div id="prefix{{ id_prefix }}" class="invisible prefix tracker" prefix="{{ id_prefix }}"></div>

<div id="data{{ id_prefix }}" class="invisible">
  {% for stop in value.stops %}
  <div class="payload" lat="{{ stop.spot.lat }}" lng="{{ stop.spot.lng }}" title="{{ stop.title }}" caption="{{ stop.caption }}" page="{% if stop.page %}{% pageurl stop.page %}{% endif %}">
  </div>
 {% endfor %}
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{ value.key }}">
</script>